{% extends "layout.html" %}
{% block title %}{{ _('title_itinerary') }}{% endblock %}
{% block body %}
  <h2>{{ _('itin_hdr').format(user.name) }}</h2>
  <div style="white-space: pre-line; border:1px solid #ccc; padding:1em; border-radius:6px;">
    {{ content }}
  </div>
  <div style="margin-top:2em;">
    <a href="{{ url_for('replay', user_id=user.id) }}">
      <button>{{ _('btn_replay') }}</button>
    </a>

    {% if not session.get('uid') %}
      <a href="{{ url_for('index') }}">
        <button>{{ _('btn_back_home') }}</button>
      </a>
    {% endif %}
  </div>
{% endblock %}