{% extends "base.html" %}
{% block title %}{{ _('title_login') }}{% endblock %}

{% block page_background %}
background-image: url('{{ url_for('static', filename='images/lg_rg.jpg') }}');
{% endblock %}

{% block body %}
<h3>{{ _('login_hdr') }}</h3><br>
{% with m = get_flashed_messages() %}
  {% if m %}<p style="color:red;">{{ m[0] }}</p>{% endif %}
{% endwith %}
<form method="post">
  <input type="text"  name="username" placeholder="{{ _('login_user_plh') }}" required class="c-form-input"><br>
  <input type="password" name="password" placeholder="{{ _('login_pwd_plh') }}" required class="c-form-input"><br>
  <button type="submit" class="c-form-button">{{ _('btn_login') }}</button>
</form>
<a href="{{ url_for('register') }}">{{ _('login_link_reg') }}</a>
{% endblock %}