{% extends "base.html" %}
{% block title %}{{ _('title_register') }}{% endblock %}

{% block page_background %}
background-image: url('{{ url_for('static', filename='images/lg_rg.jpg') }}');
{% endblock %}

{% block body %}
<h3>{{ _('reg_hdr') }}</h3><br>
{% with m = get_flashed_messages() %}
  {% if m %}<p style="color:red;">{{ m[0] }}</p>{% endif %}
{% endwith %}

<form method="post">
  <input name="username" placeholder="{{ _('reg_user_plh') }}" required class="c-form-input"><br>
  <input type="password" name="password" placeholder="{{ _('reg_pwd_plh') }}" required class="c-form-input"><br>
  <button type="submit" class="c-form-button">{{ _('btn_register') }}</button>
</form>

<a href="{{ url_for('login') }}">{{ _('btn_login') }}</a>
{% endblock %}